<form action="/words/<%= @post[:id] %>" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="title" placeholder="Enter a title" value="<%= @post[:title] %>">
  </div>
  <div>
    <label>Speech</label>
    <input name="speech" placeholder="Parts of speech" value="<%= @post[:speech] %>">
  </div>
  <div>
    <label>Origin</label>
    <textarea name="origin" placeholder="Word origin"><%= @post[:origin] %></textarea
  </div>
  <div>
    <label>Definition</label>
    <textarea name="definition" placeholder="Definition" ><%= @post[:definition] %></textarea>
  </div>
  <div>
    <input type="submit" value="Save Post">
  </div>
  <% if(@post[:id] != "") %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
